<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Roslyn chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content=".net, c#, c-sharp, chart, microsoft, control, compile, roslyn"/>
    <meta name="author" content="Piotr Ludwiczuk" />
    
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" media="screen">
	<link href="@Url.Content("/~Content/bootstrap-responsive.css")" rel="stylesheet">

	<script src="@Url.Content("~/Scripts/lib/jquery-1.9.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/lib/jquery-ui-1.10.0.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Scripts/lib/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/knockout-2.2.1.js")" type="text/javascript"></script>
	<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

	@RenderSection("header", required: false)

    <style type="text/css">
      /* Sticky footer styles */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #footer, #push {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
        
      }

        .alert {
            z-index: 20000;
        }

      /* Lastly, apply responsive CSS fixes as necessary */
      @@media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
        margin-left: 20px;
      }
      .container .credit {
        margin: 20px 0;
      }

      #btn-run {
        margin-left: 5px;
        margin-top: 4px;
      }

      .code-select {
          margin-top: 3px;
          margin-left: 5px;
      }
    </style>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
    <div id="wrap">

        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">  
            <div>
                <a class="btn btn-success" href="#" data-bind="click: getChart" id="btn-run"><i class="icon-play"></i> Run</a>    

                <select class="pull-left code-select" data-bind="options: CodeSamples, value: Section, optionsText: 'Name'">
                </select>

                <span data-bind="with: Section">
                    <select class="pull-left code-select" data-bind="options: Sections, value: $root.SubSection, optionsText: 'Name'">
                    </select>
                </span>

                <span data-bind="with: SubSection">
                    <select class="pull-left code-select" data-bind="options: CodeSamples, value: $root.CodeSample, optionsText: 'Name'">
                    </select>
                </span>
            </div>
        </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>

        <div id="push"></div>
    
    </div>

    <div id="footer">
        <div class="alert alert-success" id="messages"></div>
    </div>

      <!-- Le javascript -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="@Url.Content("~/Scripts/lib/bootstrap.min.js")" type="text/javascript"></script>
  </body>
</html>
